body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #73AD21;
    border-radius: 25px;
    background-color: #f2f2f2;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #555;
}

table th {
	
    background-color: #4CAF50;
    color: #fff;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

table td:nth-child(2) {
    text-align: left;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.total label {
    font-weight: bold;
    color: #555;
}

.total span {
    font-weight: bold;
    color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d32f2f;
}



